.catcall {
    padding: 21px;
    padding-bottom: 0;
    height: 100vh;
    background-color: var(--bg-color);
    overflow: hidden;
    transition: ease-in-out 0.2s;
}

.catcall__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 21px); // Растягиваем блок по высоте на всё окно браузера, вычитаем паддинг

    // так же можно дать максимальную ширину и цетрировать элемент, чтобы на более широких экранах всё выглядело адекватно. Но согласно тз, я понял, что всё должно тянуться на 100%, так как исключительно под смартфоны.
}

.catcall__image {
    min-height: 320px; // на случай, если изображение не загрузиться, чтобы не схлопывался блок
    background-color: $silver;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.catcall__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catcall__question {
    margin: 0 auto;
    margin-bottom: 34px;
    max-width: 310px;
    color: var(--question-color);
    font-family: $titleFont;
    font-size: 22px;
    letter-spacing: -0.1px;
    line-height: 28px;
    text-align: center;
    transition: ease-in-out 0.2s;
}

.catcall__buttons {
    display: flex;
    flex-direction: column;
}