html {
    // typography
    font-size: 16px;
}

body {
    // box model
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
}

:root {
    --bg-color: #F4F1E9;
    --question-color: #2B234C;
    --button-color: #2B234C;
    --button-shadow: none;
}

:root[theme='dark'] {
    --bg-color: #1A133C;
    --question-color: #ffffff;
    --button-color: #D259F5;
    --button-shadow: 0px 1px 10px rgba(210, 89, 245, 0.6);
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
}
