// colors
$light: #F4F1E9;
$portGore: #2B234C;
$haiti: #1A133C; //dark theme bgc
$heliotrope: #D259F5;
$silver: #C4C4C4;

// fonts
$titleFont: 'Arial', Arial, sans-serif;
$mainFont: 'Roboto', Arial, sans-serif;
$specialFont: 'Poppins', Arial, sans-serif;

// использовал генератор названия цветов http://chir.ag/projects/name-that-color
// в рамках данного тестового задания использование переменных излишне, просто показываю, как обычно формирую проект